.Wrapper {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  flex-direction: column;
  width: 48vw;
  color: rgb(12, 12, 12);
  text-align: center;
  font-family: "Garamond" ;
  font-size: 20px;
}


.nav-wrapper {
  background-color: #66a3c1;
}

.h2{
  padding-top: 10px;
}

.h3{
  padding-bottom: 10px;
}

.columnWrapper {
  display: flex;
  flex-direction: row;
  margin-left: auto;
  margin-right: auto;
  width: 100vw;
  gap: 10px;
  justify-content: left;
  flex-wrap: wrap;
}

.Categories{
  font-family: "Papyrus" ;
}

.imagecontainer{
  text-align: left;
  margin-left: 3px;
  width: 100%;
  margin-top: 3px;
}


.gallery{
    margin: 26px;
     border: 3px hidden;
     float: center;
     width: 260px;
     padding: 30px;
 
     }
   
.gallery img {
     width: 100%;
     height: 150px;
     position: relative;
 
     }

.desc {
  text-align: center;
}

.desc1 {
  color:rgba(209, 71, 29, 0.76);
  padding: 5px 5px;
  text-align: left;
  text-decoration: none;
  font-size: 35px;
  font-family: "Brush Script MT";
}

.desc2 {
  color:rgba(209, 71, 29, 0.76);
  padding: 5px 5px;
  text-align: left;
  text-decoration: none;
  font-size: 35px;
  font-family: "Brush Script MT";
}

.desc3 {
  color:rgba(209, 71, 29, 0.76);
  padding: 5px 5px;
  text-align: left;
  text-decoration: none;
  font-size: 35px;
  font-family: "Brush Script MT";
}

.desc4 {
  color:rgba(209, 71, 29, 0.76);
  font-family: "Brush Script MT";
  text-align: center;
  font-size: 35px;
  padding: 20px 10px;
  text-align: left;
  text-decoration: none;
  font-size: 33px;
  position: relative;
}

.desc6{
  font-family: "Times New Roman";
  font-size: 18px;
}

.contacts{
color:rgba(209, 71, 29, 0.76);
padding: 10px 10px;
text-align: center;
font-size: 35px;
font-family: "Brush Script MT";
}


@media (max-width: 1024px) {
  .columnWrapper {
    display: flex;
    text-align: center;
    flex-direction: column;
    position: right;
    width: 100vw;
    gap: 10px;
    justify-content: center;

  }
  .image {
    width: 50vw;
    border: 1px solid rgb(12, 12, 12);
    border-radius: 5px;
  }
  li {
    max-width: 75vw;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
  }
  .nav-wrapper {
    display: flex;
    justify-content: end;
  }
  #nav-mobile {
    margin-top: 25px;
    display: none;
    justify-content: end;
  }
  .burger-wrapper > li > a {
    color: white;
    background-color: black;
  }

  #burgerMenuLinks > li > a {
    color: white;
    background-color: black;
  }
}