.Wrapper {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  flex-direction: column;
  width: 100vw;
  color: black;
  text-align: center;
}

.columnWrapper {
  display: flex;
  flex-direction: row;
  margin-left: auto;
  margin-right: auto;
  width: 100vw;
  gap: 10px;
  justify-content: center;
  flex-wrap: wrap;
}

.desc {
  text-align: center;
}

@media (max-width: 1024px) {
  .columnWrapper {
    display: flex;
    text-align: center;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    width: 100vw;
    gap: 10px;
    justify-content: center;
  }
  .image {
    width: 50vw;
    border: 1px solid black;
    border-radius: 5px;
  }
  li {
    max-width: 75vw;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
  }
  .nav-wrapper {
    display: flex;
    justify-content: end;
  }
  #nav-mobile {
    margin-top: 25px;
    display: none;
    justify-content: end;
  }
  .burger-wrapper > li > a {
    color: white;
    background-color: black;
  }

  #burgerMenuLinks > li > a {
    color: white;
    background-color: black;
  }
  .body {
    background-image: url('https://media.giphy.com/media/MyWrJJIdAfoJuEPlLP/giphy.gif');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.footer{
  background-color: black;
  color: #00cccc;
  text-align: center;
}

}