{% extends "layout.html" %}
{% block title %}Login{% endblock %}
{% block page %}Login{% endblock %}

{{ super() }}

{% block content %}



<section>
    <h2> <div class="description"> Map: </div> </h2>
    <div class="Location"> <div class="gmap_canvas"><iframe width="600" height="500" id="gmap_canvas" src="https://maps.google.com/maps?q=St.%20Augustine%20Campus%20The%20University%20of%20the%20West%20Indies&t=&z=13&ie=UTF8&iwloc=&output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe>
            <a href="https://2piratebay.org"></a><br><style>.mapouter{position:relative;text-align:right;height:500px;width:600px;}</style>
            <a href="https://www.embedgooglemap.net">google maps for web site</a><style>.gmap_canvas {overflow:hidden;background:none!important;height:500px;width:600px;}</style></div></div>
            <p>
    </a>
    </div>
</section>

{% endblock %}