{% extends "layout.html" %}
{% block title %}App Users{% endblock %}
{% block page %}App Users{% endblock %}

{{ super() }}

{% block content %}
    <div class="row">
      <table>
        <thead>
          <tr>
            <th>Type</th><th>Location</th><th>Date</th><th>Details</th>
          </tr>
        </thead>
        <tbody>
          {% for report in reports %}
            <tr>
              <td>{{report.type}}</td>
              <td>{{report.location}}</td>
              <td>{{report.date}}</td>
              <td>{{report.details}}</td>
            </tr>
          {% endfor %}
        <tbody>
      </table>
    </div>
{% endblock %}