<!doctype html>
<html>
  <head>
  
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
     <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Login</title>

  </head>
  <body>
    <style>
      body {
        background-color: rgb(203, 238, 255);
      }
      </style>
    <nav class="black">
      <div class="nav-wrapper">
        <a href="#!" class="brand-logo center">{% block page %}{% endblock %}</a>
        <div class="nav-wrapper">
            <ul id="nav-mobile" class="left">
                <li><a href="/">Login</a></li></li>
                <li><a href="/signup">Sign Up</a></li>
              </ul>
        </div>
      </div>
    </nav>

    <div class="row">
      <div class="row">
        <form id="myForm" class="col s12 m8 offset-m2" method="POST" action="/signup">
            {{ form.csrf_token }}

            <div class="input-field col s12 m8 offset-m2"> 
              {{ form.username(size=20, class="validate") }}
              {{ form.username.label }}
            </div>

            <div class="input-field col s12 m8 offset-m2">
              {{ form.email(size=50, class="validate") }}
              {{ form.email.label }}
            </div>

            <div class="input-field col s12 m8 offset-m2">
              {{ form.password(size=20, class="validate") }}
              {{ form.password.label }}
            </div>

            <div class="input-field col s12 m8 offset-m2">
              {{ form.confirm(size=20, class="validate") }}
              {{ form.confirm.label }}
            </div>

            <div class="input-field col s12 m8 offset-m2">
              {{form.submit}}
            </div> 
        </form>
      </div>
  </div>

    
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <nav class="white black-text" style="padding: 10px">
      <div class="nav-wrapper">
          <ul class="flashes">
          {% for message in messages %}
            <li>{{ message }}</li>
          {% endfor %}
          </ul>
      </div>
    </nav>
    {% endif %}
    {% endwith %}

    <div class="container" id="content">{% block content %}{% endblock %}</div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
  </body>
</html>